/* Different color for bold*/
.cm-strong,
.markdown-preview-section strong {
  color: #7a46f1 !important;
}


/* Different color for italic */
.cm-em {
    color: #7a46f1;
    font-size: 18px;
	font-style: normal !important;
}

/* of italics in Preview  all notes in a vault */
.markdown-preview-section em {
    color: #7a46f1 !important;
    font-size: 18px;
	font-style: italic !important;
}